/*
Primary Color: #2C3E50 (Midnight Blue)
Secondary Color: #34495E (Wet Asphalt)
Accent Color: #E67E22 (Carrot Orange)
Background Color: #222222 (Dark Gray)
Text Color: #FFFFFF (White)
Link Color: #1ABC9C (Turquoise)
Button Color: #2980B9 (Belize Hole)
Error Color: #E74C3C (Alizarin)
*/
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #222222;
  height: 100vh;
}
#nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #2C3E50;
  border-radius: 3%;
  height: 10%;
}
#profit{
  color:#1ABC9C;
  border: 1px solid #1ABC9C;
  border-radius: 1px;
}
#outcome1,#outcome2{
  color:#E74C3C;
}
#table-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
  border-radius: 3%;
}
#sortCont{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 80;
  border-left: 2px solid #007bff;
  
}
#filterSportCont{
  width: 20%;
  border-left: 2px solid #007bff;
  display: flex;
  flex-direction: row;
 justify-content: space-around;
 align-items: center;
}
#filterBookmakerCont{
  width: 30%;
  border-left: 2px solid #007bff;
  flex-direction: row;
  justify-content: space-around;
 align-items: center;
  display: flex;
}
#table-header div{
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #34495E;
    border-radius: 3%;
    color: #FFFFFF;
    cursor: pointer;

}

.row:hover{
    background-color: #34495E;
    color: #FFFFFF;
}

.col{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;

}
label{
    font-size: 16px;
    font-weight: bold;
    color: #f8f8f2;
    
}
select {
    display: block;
    width: 30%;
    height: 10%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    background-color: #ffffff;
    padding-top: 5px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  select:focus {
    outline: none;
    border-color: #0062cc;
  }
  select option {
    font-weight: normal;
  }
  
#loadBtn,#calculateBtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #2980B9;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #filterPairs{
    background-color: #E67E22;
    cursor: pointer;
    padding:3px;
    border-radius: 2px;
  }
  
  #loadBtn:hover {
    background-color: #2074ac;
  }
#betting-panel{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color:#222222;
  color: #ffffff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#backStake{
width: 30%;
height: 5%;
color: #ffffff;

}
